.navbar {
    position: sticky;
    background: #ebebeb;
    margin-bottom: 1.25em;
    box-shadow: 0 0 15px -5px;
}

.nav-link {
    color: rgb(88, 88, 88);
}

.active {
    color: rgb(0, 0, 0);
}

.active:hover {
    color: black;
}